---
layout: default
title: Programm
permalink: /timeline/

---
<!-- über das projekt -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Programm</h1>
            <h2 class="blue about-subline">Wie gelingt Bildung für eine offene digitale Gesellschaft?</h2>
            <div class="subpage-content">
                <p>Mit dem "Forum Open:Education" möchten das <a href="https://buendnis-freie-bildung.de/" target="_blank">Bündnis Freie Bildung</a>, die <a href="https://okfn.de/">Open Knowledge Foundation</a> und <a href="https://www.wikimedia.de/">Wikimedia Deutschland</a> die Debatte um zeitgemäßes Lehren und Lernen voranbringen und den Austausch zwischen Zivilgesellschaft, Bildungspraxis und politischen Entscheidungsgremien fördern.
                <p>Mehr zum Programm in Kürze!</p>

            </div>
        </div>
    </section>

    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap subpage-content">
                <h2 id="team" name="speaker" tabindex="1" class="section-headline">Redner und Rednerinnen</h2>
                <center><p></p></center>
            </div>

            {% include partials/member-teasers-20.liquid %}
        </section>
    </div>

</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
