---
layout: default
title: Programm
permalink: /timeline/

---
<!-- über das projekt -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Programm</h1>
            <h2 class="blue about-subline">Wie gelingt Bildung für eine offene digitale Gesellschaft?</h2>
            <div class="subpage-content">
                <p>Mit dem "Forum Open:Education" möchten das <a href="https://buendnis-freie-bildung.de/" target="_blank">Bündnis Freie Bildung</a>, die <a href="https://okfn.de/">Open Knowledge Foundation</a> und <a href="https://www.wikimedia.de/">Wikimedia Deutschland</a> die Debatte um zeitgemäßes Lehren und Lernen voranbringen und den Austausch zwischen Zivilgesellschaft, Bildungspraxis und politischen Entscheidungsgremien fördern.
                <h2 class="blue about-subline">Am 08. Oktober 2020 - Ablauf</h2>
                <ul class="programm">
                    <li>13:00 - die <a href="../groups">Fachgruppen</a> präsentieren ihre Ergebnisse
                        <ul>
                            <li>13:00 - 13:45 Uhr<br><a href="../groups">Fachgruppe 1:</a> “Verhältnis von digitaler zu sozialer Ungleichheit”</li>
                            <li>14:00 - 14:45 Uhr<br><a href="../groups">Fachgruppe 2:</a> “OER in Hochschule und der Lehrkräftebildung”</li>
                            <li>15:30 - 16:15 Uhr<br><a href="../groups">Fachgruppe 3:</a> “Digitale Transformation und lokale Lernnetzwerke”</li>
                            <li>16:30 - 17:15 Uhr<br><a href="../groups">Fachgruppe 4:</a> “Literacies, Innovation und Künstlicher Intelligenz”</li>
                        </ul>
                    </li>
                    <li>18:30 - Parlamentarischer Abend, mit:
                        <ul>
                            <li><a href="https://margit-stumpp.de/">Margit Stumpp</a></li>
                            <li><a href="https://www.marjavoellers.de/">Marja-Liisa Völlers</a></li>
                            <li><a href="https://www.jens-brandenburg.de/">Dr. Jens Brandenburg</a></li>
                            <li><a href="https://ronja-kemmer.de/">Ronja Kemmer</a></li>
                            <li><a href="https://www.birke-bull.de/">Birke Bull-Bischoff</a></li>
                        </ul>
                    </li>
                    <li>moderiert von <a href="https://twitter.com/la_fool">Kristin Narr</a></li>

                </ul><br><br>
                <h2 class="blue about-subline">Veranstaltungsort</h2>
                <p style="text-align:left">Das Forum findet online statt. Der Link zum Stream wird in Kürze veröffentlicht. Für die Teilnahme ist eine <a href="/anmeldung/">Anmeldung</a> erforderlich.</p>

            </div>
        </div>
    </section>

    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap subpage-content">
                <h2 id="team" name="speaker" tabindex="1" class="section-headline">Redner und Rednerinnen</h2>
                <center><p></p></center>
            </div>

            {% include partials/member-teasers-20.liquid %}
        </section>
    </div>

</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
