---
layout: default
title: Programm
permalink: /timeline-19/

---
<!-- über das projekt -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Programm</h1>
            <h2 class="blue about-subline">Wie gelingt Bildung für eine offene digitale Gesellschaft?</h2>
            <div class="subpage-content">
                <p>Mit dem "Forum Open:Education" möchte das <a href="https://buendnis-freie-bildung.de/" target="_blank">Bündnis Freie Bildung</a> die Debatte um zeitgemäßes Lehren und Lernen voranbringen und den Austausch zwischen Zivilgesellschaft, Bildungspraxis und politischen Entscheidungsgremien fördern.
                    <br><br>
                    Mit Begegnungsständen, Workshops und Diskussionsrunden erhalten Bildungsinitiativen und Projekte eine offene Plattform, um ihr Arbeit zu präsentieren und sich über praktische Erfahrungen auszutauschen.
                    <br><br>
                    Den zweiten Teil der Veranstaltung bildet eine Podiumsdiskussion, bei der wir mit Bildungspolitiker*innen über die Potenziale digitaler Partizipation und die nächsten Schritte bei der digitalen Transformation der Bildung sprechen. Am 26. werfen wir einen Blick auf die aktuellen Bildungsvorhaben des Bundes sowie der Länder und ziehen Bilanz zum Stand der offenen Bildung in Deutschland.</p>

                <h2 class="blue about-subline">Am 26. Juni 2019 - Ablauf</h2>
                <ul class="programm">
                    <li>15:30 - Eröffnung der Open Education Fair<br>
                        Start der Workshops & Diskussionsrunden
                        <ul>
                            <li>15:30 Workshop: Making als offene Lernpraxis erleben - das <a href="https://www.doit-europe.net/">Do-It-Projekt</a><br>mit Ilona Stuetz, Projektmanagerin <a href="https://medialepfade.org/">mediale pfade e.V.</a></a></li>
                            <li>15:30 Workshop: Mit der <a href="https://sensebox.de/">senseBox</a> die Natur vermessen<br>mit Umut Tas</li>
                            <li>15:30 Diskussion: Forderungen für mehr Offene Bildung - das Positionspapier des <a href="https://buendnis-freie-bildung.de/">BFB</a></li>
                            <li>16:30 Diskussion: Wie kommen offene Lernkonzepte wie "Making" in die Schule?</br>mit <a href="https://www.arte.tu-berlin.de/menue/team/dr_melanie_stilz/">Melanie Stilz</a> und <a href="http://fablearn.stanford.edu/fellows/users/mario-parade">Mario Parade</a></li>
                            <li>16:30 Keynote: State of the Open Education - Wie messen wir Offene Bildung?</li>
                            <li>16:30 Diskussion: Wie anschlussfähig ist OER in der Diskussion um den Digitalpakt?<br>mit Luca Mollenhauer, <a href="https://www.dipf.de/">Leibniz-Institut für Bildungsforschung und Bildungsinformation</a></li>
                            <li>17:00 Workshop: Gute Schule in der digitalen Welt - Bausteine für Schulentwicklungsprozesse<br>mit Bianca Ely, Projektmanagerin <a href="https://www.forumbd.de/">Forum Bildung Digitalisierung e. V.</a></li>
                            <li>17:00 Workshop: Offene webbasierte Tools für offene Bildungspraktiken<br>mit <a href="http://nele-hirsch.de/">Nele Hirsch</a></li>
                        </ul>
                    </li>
                    <li>18:00 - Pause: Imbiss und Getränke im Vorraum</li>
                    <li>18:30 - Parlamentarischer Abend<br>
                        unter anderen im Panel: <a href="https://www.bundestag.de/abgeordnete/biografien/S/523974-523974">Margit Stumpp</a>, <a href="http://www.medialepfade.de/ueberuns/team/daniel-seitz/">Daniel Seitz</a>
                        <br>Moderiert von: <a href="https://twitter.com/malienamadrina">Maria Reimer</a>
                    </li>

                    <li>20:30 - Come together & Ausklang</li>
                </ul><br><br>
                <h2 class="blue about-subline">Veranstaltungsort</h2>
                <p style="text-align:left">Das Forum findet im <a href="https://www.digital-future.berlin/">Einstein Center Digital Future</a> statt: Robert-Koch-Forum - Wilhelmstraße 67, 10117 Berlin</p>
                <br><div class="video"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=13.379732966423036%2C52.5179836292928%2C13.381355702877046%2C52.51886335332853&amp;layer=&amp;marker=52.518423493512515%2C13.38054433465004" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=52.51842&amp;mlon=13.38054#map=19/52.51842/13.38054">Größere Karte anzeigen</a></small></div>
            </div>
        </div>
    </section>
    <!--
    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap subpage-content">
                <h2 id="team" name="speaker" tabindex="-1" class="section-headline">Speaker</h2>
                <center><p></p></center>
            </div>

            {% include partials/member-teasers.liquid %}
        </section>
    </div>
    -->

</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
