---
layout: default
title: Programm
permalink: /timeline/

---
<!-- über das projekt -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Programm</h1>
            <h2 class="blue about-subline">Wie gelingt Bildung für eine offene digitale Gesellschaft?</h2>
            <div class="subpage-content">
                <p>Mit dem "Forum Open:Education" möchten <a href="https://edulabs.de/" target="_blank">edulabs</a> und das <a href="https://buendnis-freie-bildung.de/" target="_blank">Bündnis freie Bildung</a> die Debatte um zeitgemäßes Lehren und Lernen voranbringen und den Austausch zwischen Zivilgesellschaft, Bildungspraxis und politischen Entscheidungsgremien fördern.
                    <br><br>
                    Mit Begegnungsständen, Workshops und Diskussionsrunden erhalten Bildungsinitiativen und Projekte eine offene Plattform, um ihr Arbeit zu präsentieren und sich über praktische Erfahrungen auszutauschen.
                    <br><br>
                    Den zweiten Teil der Veranstaltung bildet eine Podiumsdiskussion, bei der wir mit Bildungspolitiker*innen über die Potenziale digitaler Partizipation und die nächsten Schritte bei der digitalen Transformation der Bildung sprechen. Im Koalitionsvertrag werden zahlreiche Maßnahmen zur Bildungspolitik wie auch eine Open Educational Resources-Strategie genannt. In dem Gespräch möchten wir erkunden, worauf es dabei ankommt.</p>

                <h2 class="blue about-subline">Vorläufiges Programm</h2>
                <ul>
                    <li>16:00 - <strong>Eröffnung der Open Education Fair</strong><br>
                        Start der Diskussionsrunden und Workshops<br>
                        - Workshop: Programmieren lernen - der BOB 3 im Unterricht<br>
                        - Workshop: Mit der senseBox die Natur vermessen<br>
                        - Diskussion: 5 Forderungen für eine zeitgemäße digitale Bildung an Schulen<br>
                        - Diskussion: Welche Rolle spielt Lobbyismus an Schulen?
                    </li>
                    <li>18:00 - Pause</li>
                    <li>18:30 - <strong>Parlamentarischer Abend</strong><br>
                      mit Margret Rasfeld, Saskia Esken (MdB), Tankred Schipanski (MdB), Gabriele Lonz (Bildungsministerium Rheinland-Pfalz)</li>
                    <li>19:20 - <strong>Podiumsdiskussion</strong></li>
                    <li>20:30 - Come together & Ausklang</li>
                </ul>
                <h2 class="blue about-subline">Veranstaltungsort</h2>
                <p>Das Forum findet im Loft der <a href="http://spreewerkstaetten.de/">Spreewerkstätten</a> statt:<br>
                    Am Krögel 2<br>
                    10179 Berlin
                </p>
                <div class="video"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=13.408306539058687%2C52.514916698485976%2C13.409819304943086%2C52.51584381882501&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/52.51538/13.40906&amp;layers=N">View Larger Map</a></small></div>
            </div>
        </div>
    </section>
    <!-- team
    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap subpage-content">
                <h2 id="team" tabindex="-1" class="section-headline">Speaker</h2>
                <center><p>Auf dem Podium sitzen und diskutieren:</p></center>
            </div>

            {% include partials/member-teasers.liquid %}
        </section>
    </div>-->
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
