<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Teilnehmen</h2>
            <p>Die Veranstaltung ist offen für alle, die sich für Veränderungen im Bildungsbereich einsetzen und sich für innovative Ansätze interessieren, um freie Bildung nachhaltig voranzubringen.
               <br>
               <br>Die Veranstaltung ist bereits abgeschlossen.</p>
        </div>
        
    </section>
</div>
