<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Teilnehmen</h2>
            <p>Die Veranstaltung ist offen für alle, die sich für Veränderungen im Bildungsbereich einsetzen und sich für innovative Ansätze interessieren, um freie Bildung nachhaltig voranzubringen.</p>

                <div class="content-wrap btn-wrap">
                  <a class="edu-btn white" href="https://docs.google.com/forms/d/e/1FAIpQLSeBJ8YvRIIw8h7GejliqVljYbwF09JXjrUC8FmNnzqt_tpuJg/viewform?usp=sf_link" target="_blank">Zur Voranmeldung 2019</a>
                </div>

        </div>
        
    </section>
</div>
