<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Teilnehmen</h2>
            <p>Die Veranstaltung ist offen für alle, die sich für Veränderungen im Bildungsbereich einsetzen und sich für innovative Ansätze interessieren, um freie Bildung nachhaltig voranzubringen.
               <br>Du hast Interesse? Dann melde dich über das folgende Formular an. Der Eintritt ist frei.</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn white" href="https://docs.google.com/forms/d/e/1FAIpQLSdS3FbGAMRCEH41l698dUa3cSgVD6eAH3tlgeU6xrrX4Yb95g/viewform" target="_blank">Jetzt anmelden</a>
        </div>
    </section>
</div>
