<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Save the Date</h2>
            <p>Das Forum Open Education 2020 startet am 8. Oktober</p>

                <div class="content-wrap btn-wrap">
                  <a class="edu-btn white" href="/anmeldung/">Zur Anmeldung 2021</a>
                </div>

        </div>
        
    </section>
</div>
