<div class="team-teaser-wrap col-xs-22 col-xs-push-1 col-md-20 col-md-push-2 col-lg-18 col-lg-push-3">
    {% include partials/member-teaser.liquid src="/assets/img/static/heidt_square.jpg" name="Peter Heidt" position="MdB der FDP-Fraktion" copy="
    Bild: Büro Peter Heidt" website="https://peter-heidt.abgeordnete.fdpbt.de/" twitter="https://twitter.com/PeterHeidtFDP" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/Margit Stumpp_square.jpg" name="Margit Stumpp" position="MdB der Grünen-Fraktion" copy="
    Bild: Büro Margit Stumpp" website="https://margit-stumpp.de/" twitter="https://twitter.com/margit_stumpp" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/marja-liisa_voellers-square.jpg" name="Marja-Liisa Völlers" position="MdB der SPD-Fraktion" copy="
    Bild: Büro Marja-Liisa Völlers" website="https://www.marjavoellers.de/" twitter="https://twitter.com/MarjaVoellers" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/Bischoff.jpg" name="Birke Bull-Bischoff" position="MdB der Fraktion DIE LINKE" copy="
    Bild: Büro Birke Bull-Bischoff" website="https://www.birke-bull.de/politik/aktuell/" twitter="https://twitter.com/birke_bull?lang" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/kemmer_square.JPG" name="Ronja Kemmer" position="MdB der CDU-Fraktion" copy="
    Bild: Büro Ronja Kemmer" website="https://ronja-kemmer.de/" twitter="https://twitter.com/ronjakemmer" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/schön_square.jpg" name="Nadine Schön" position="MdB der CDU-Fraktion" copy="
    Bild: Büro Nadine Schön" website="https://www.nadine-schoen.de/" twitter="https://twitter.com/nadineschoen" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/suding_square.JPG" name="Katja Suding" position="MdB der FDP-Fraktion" copy="
    Bild: Büro Katja Suding" website="http://www.katjasuding.de/" twitter="https://twitter.com/KatjaSuding" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/tankred-schipanski_square.jpg" name="Tankred Schipanski" position="MdB der CDU-Fraktion" copy="
    Bild: Benno Kraehahn" website="https://www.tankred-schipanski.de/" twitter="http://www.twitter.com/TSchipanski" %}
    {% include partials/member-teaser.liquid src="/assets/img/static/brandenburg_square.jpg" name="Dr. Jens Brandenburg" position="MdB der FDP-Fraktion" copy="
    Bild: Büro Jens Brandenburg" website="https://www.jens-brandenburg.de/" twitter="https://twitter.com/JBrandenburgFDP" %}
</div>

