
/******************************************************************
Customizations for startpage
******************************************************************/

.content-wrap {

}


.main-subtitle {
  padding-top: 0.5em;
  line-height: 1.6em;
  text-align: center;
  //color: red;
}

.subpage-content p {
  line-height: 1.6em;
  text-align: center;
  //color: red;
}
