
/******************************************************************
Customizations for startpage
******************************************************************/

.main-subtitle {
  padding-top: 0.5em;
  line-height: 1.6em;
  text-align: center;
}

.subpage-content p {
  line-height: 1.6em;
  text-align: center;
}


.section-timeline{
    width: 100%;
    padding: 30px 0;
    text-align: center;
    h1 {
        text-align: center;
    }
    ul {
        text-align: left;
        line-height: 1.6em;
    }
}