---
layout: default
title: Arbeitsgruppen des Forums Open Education
permalink: /2021/groups/
---
<!-- events -->
<div class="row">
    <section class="section first green col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Arbeitsgruppen des Forums Open Education 2021</h2>
            <p>Das Forum ist in einen Prozess eingebettet, in dem engagierte Expert*innen der Open-Education-Fachcommunity gemeinsam mit Bildungspolitiker*innen verschiedener Fraktionen des Bundestages in Arbeitsgruppen Herausforderungen in der Bildungslandschaft identifizieren und Lösungsansätze skizzieren. Im Folgenden sind alle Arbeitsgruppen aufgeführt.</p>
        </div>

        <div class="team-teaser-wrap col-xs-22 col-xs-push-1 col-md-22 col-md-push-3 col-lg-18 col-lg-push-4">
            {% for groups in site.groups %}
                {% if groups.year == 2021  %}
                    {% include partials/group-teaser.liquid moderation=groups.moderation attendees=groups.attendees group=groups.group name=groups.title url=groups.url src=groups.src copy=groups.headline %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
</div>

